<!DOCTYPE HTML>
<html>
	<head>
		<title>Little Advent Calendar</title>
		<link rel="stylesheet" type="text/css" href="/main.css"  />
	</head>
	<body >
		<div class="center">
			<section >
				<h2 align="center">Day <%= day.day %></h2>
				<p align="center" style="white-space: pre-line">
					<%= day.question %>	
				</p>
				<div class="div-center" style="margin:10px">
					<!-- <input type="text" id="answer" size="20" />
					<button id="submit" onclick="checkAnswer()" type="button">OK</button>
					<button id="hint" onclick="showHint()" type="button">Hint</button> -->
					<ul>
						<% day.answer.forEach(answer => { %>
								<li class="list-center">
									<button id="submit" onclick="checkAnswer('<%= answer.solution %>')" type="button"><%= answer.option %></button>
								</li>
						<% }) %>
					</ul>
					
				</div>
				<p style="margin-top: 10px" align="center"><a href="/" type="button">Home</a></p>
				<p id="result" style="white-space: pre-line">
						   
				</p>
				<h2 align="center" id="key"></h2>
				<script>
					function checkAnswer(solution) {
						console.log(solution);
						var hint = '<%= day.hint %>';
						var desc = '<%= day.answer_desc %>';
						var reward = '<%= day.key %>';
						var element = document.getElementById("result");
						var key = document.getElementById("key");
						if (solution.localeCompare("true") == 0) {
							element.innerHTML = "Korrekt - Gut gemacht!\n " + desc ;
							key.innerHTML = "Dein heutiger Freischaltcode lautet: " + reward;
							//fetch(url + "/" + '<%= day.day %>');
						} else {
							element.innerHTML = "Leider Falsch, vielleicht klapt es mit einem Hinweis?\n " + hint;
							key.innerHTML = " "
						}
					}
					function showHint() {
						var day = '<%= day.hint %>';
						var element = document.getElementById("result");
						element.innerHTML = day;
						
						var key = document.getElementById("key");
						key.innerHTML = " "
					}
				</script>
					
			</section>
		</div>
	</body>
</html>