<!DOCTYPE HTML>
<html>
	<head>
		<title>Little Advent Calendar</title>
		<link rel="stylesheet" type="text/css" href="/main.css"  />
	</head>
	<body class="background">
		<div class="center">
			<section >
				<h2 class="title" align="center">Day <%= day.day %></h2>
				<p class="text" align="center" style="white-space: pre-line">
					<%= day.question %>	
				</p>
				<div style="margin:10px">
					<input type="text" id="answer" size="20" />
					<button id="submit" onclick="checkAnswer()" type="button">OK</button>
					<button id="hint" onclick="showHint()" type="button">Hint</button>
					
					
					
				</div>
				<p align="center"><a href="/" type="button">Home</a></p>
				<p class="hint" id="result" >
						   
				</p>
				<h2 class="text" align="center" id="key"></h2>
				<script>
					function checkAnswer() {
						var answer = document.getElementById("answer").value;
						var hint = '<%= day.hint %>';
						var correct = '<%= day.answer %>';
						var desc = '<%= day.answer_desc %>';
						var reward = '<%= day.key %>';
						var element = document.getElementById("result");
						var key = document.getElementById("key");
						if (answer.localeCompare(correct) == 0) {
							element.innerHTML = "Korrekt - Gut gemacht!\n " + desc ;
							key.innerHTML = "Dein heutiger Freischaltcode lautet: " + reward;
							//fetch(url + "/" + '<%= day.day %>');
						} else {
							element.innerHTML = "Leider Falsch, vielleicht klapt es mit einem Hinweis?\n " + hint;
						}
					}
					function showHint() {
						var day = '<%= day.hint %>';
						var element = document.getElementById("result");
						element.innerHTML = day;
					}
				</script>
					
			</section>
		</div>
	</body>
</html>